@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BAPapp</h1>
    <p class="lead">BAPapp, also known as the Broadcast and Production app, is a way to track and archive booked gigs.  You can add various Events, Venues, and Crewers.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            Did you make some money?  Log all the details of your event to help keep track at taxtime.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crewers</h2>
        <p>Do you know somebody that knows somebody?  Enter their contact info so you can stay in touch and keep working.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Venues</h2>
        <p>Have you been all over the country to the biggest and smallest venues?  Log the details so you can track mileage</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>